<style>

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url(../images/polygon.jpg);
  background-size: 100%;
}
h1 {
  font-family: Akura Popo;
  margin-bottom: -60px;
  margin-top: 14px;
  font-size: 45px;
  color: #D59527;
}
h4{
  font-family: Akura Popo;
  margin-top: 10px;
  text-align: center;
  font-size: 60px;
  color: #D59527;
}

footer {
  background-color: #333;
  padding: 40px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  display: block;
  color: #748E54;
  text-align: center;
  padding: 30px 65px;
  text-decoration: none;
  font-size: 20px;
}

.logo {
  float:left;
  margin-left: 50px;
  margin-bottom: -50px;
  text-align: center;
}

.topnav a:hover {
  background-color: #ddd;
  color: #9c914f;
}

.active {
  background-color: lightgray;
  color: white;
}

.topnav .icon {
  display: none;
}
@media screen and (max-width: 780px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 780px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;

  }
    .topnav.responsive a {
    float: none;
    text-align: right;
    display: block; bottom;
  }
}

/*This is for the footer stuff*/
.email {
  background: url("../images/emaillogo.png") no-repeat;
  background-position: left;
  background-size: 30%;
  width: 50px;
  padding-left: 30px;
  margin-left: 630px;
}
.discord {
  background: url("../images/discordlogo.png") no-repeat;
  background-position: left;
  background-size: 30%;
  width: 50px;
  padding-left: 30px;
  margin-left: 630px;
}
.twittertag{
  background: url("../images/twitterlogo2.png") no-repeat;
  background-position: left;
  background-size: 30%;
  width: 50px;
  padding-left: 30px;
  margin-left: 630px;
}
.adjustment {
  margin-left: 630px;
}
/*
.twitter {
  margin-left: 700px;
}*/
.email, .discord, .twittertag{
  color: #b5bb8b;
  font-family: Aldrich; 
}

/* End of footer stuff*/

/*About pg*/
.textblock {
  background: rgba(5, 4, 4, 0.7);
  margin:50px 50px 50px 100px;

}
.workpic{
  width: 100%;
  border: #D59527 solid 4pt;
  margin-right: 100px;
}
/*About pg*/
.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 80%;
  height: auto;
}
.column1:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 42px;
  right: 0;
  height: 83%;
  width: 79%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.text {
  color: white;
  font-size: 60px;
  font-family: Aldrich;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text a { 
  color: #D59527;
  text-decoration: none;
  }

/* Create four equal columns that sits next to each other */
.column1 {
    flex: 25%;
    max-width: 100%;
    padding: 50px 5px;
}

.column1 img {
    margin-top: 0px;
    margin-left: 5%;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column1 {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column1 {
        flex: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 780px){
  .email, .discord, .twittertag, .workpic{
    margin: auto;
  }
  
}

